{% extends 'base.html' %}
{% block title %}users{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cpassword.css') }}">
{% endblock %}
{% block context %}
<div class="password-box">
  <div class="change-password-box">
      <h2>Change Password</h2>
      <form action="/change_password" method="POST">
        <input type="hidden" name="email" value="{{user.email}}">
          <div class="input-group">
              <label for="current_password">Current Password:</label>
              <input type="password" id="current_password" name="current_password" required>
              <button type="button" onclick="togglePassword('current_password')">Show</button>
          </div>

          <div class="input-group">
              <label for="new_password">New Password:</label>
              <input type="password" id="new_password" name="new_password" required>
              <button type="button" onclick="togglePassword('new_password')">Show</button>
          </div>

          <div class="input-group">
              <label for="confirm_password">Confirm Password:</label>
              <input type="password" id="confirm_password" name="confirm_password" required>
              <button type="button" onclick="togglePassword('confirm_password')">Show</button>
          </div>

          <button type="submit">Submit</button>
      </form>
  </div>
</div>
<script>
    function togglePassword(inputId) {
        var x = document.getElementById(inputId);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}